body{ background:lightblue; }
h1  { color:white;
      text-align:center}
.center{ text-align: center;
         color:black;
         background: blueviolet ; }
p { color:red;
    text-align:left;}
#para1{color:yellowgreen;
       text-align:center;}
p { font-family: Arial, Helvetica, sans-serif;}
h1 { background-color: green;}
p { background-color: yellow;}

.indexbody{ background-image: url('../images/blue_bird_on_tree_branch_wallpaper_-_1024x768%5B1%5D.jpg')}
.project2body{background-image: url('../images/blue_bird_on_tree_branch_wallpaper_-_1024x768%5B1%5D.jpg');
               background-repeat: no-repeat;
              }
.project3body {background-image: url('../images/blue_bird_on_tree_branch_wallpaper_-_1024x768%5B1%5D.jpg');
               background-repeat: no-repeat;
               background-position: right top;
              margin-right: 200px;            
              }
.project4body{background-image: url('../images/moody-background%5B1%5D.jpg');}
.project5body{background-image: url('../images/moody-background%5B1%5D.jpg');
              background-repeat: repeat-x;}
.project6body{background-image: url('../images/moody-background%5B1%5D.jpg');
              background-repeat: repeat-y;}
.project7body{background-image: url('../images/abstract-background-shadow-butterfly-eps-polka-dots-lines-42653278%5B1%5D.jpg');
              background-repeat: no-repeat;
              background-position: right top;
              background-attachment: fixed;}

.dotted {border-style: dotted;}
.dashed {border-style: dashed;}
.solid {border-style: solid;}
.double {border-style: double;}
.groove {border-style: groove;}
.ridge {border-style: ridge;}
.inset {border-style: inset;}
.outset {border-style: outset;}
.hidden {border-style: hidden;}
.none {border-style: none;}
.mix {border-style: dotted dashed solid double;}

.margintest{ margin-top: 100px;
             margin-bottom: 100px;
             margin-right: 100px;
             margin-left: 100px;}

.paddingtest{ padding-top: 50px;
              padding-right: 30px;
              padding-bottom: 50px;
              padding-left: 80px;}

.textdectest { text-decoration: overline;}
.underlinetest{ text-decoration: underline;}
.linethrutest{ text-decoration: line-through;}

.dotted{outline-style: dotted;
         outline-color: black;}
.dashed{outline-style: dashed;
         outline-color: black;}
.solid {outline-style: solid;
        outline-color: black;}
.double{outline-style: double;
        outline-color: black;}
.groove{outline-style: groove;
        outline-color: black;}
.ridge {outline-style: ridge;
        outline-color: black;}
.inset {outline-style: inset;
        outline-color: black;}
.outset {outline-style: outset
         outline-color: black;;}

ul.b { list-style-type: square;}

ol.c {list-style-type: upper-roman;}

ul.d{list-style-type: lower-alpha;}

/* visited link */
a:visited {color: green;}

/* mouse over link */
a:hover {color: hotpink;}

/* selected link */
a:active {color: blue;}

a:link, a:visited {
    padding: 50px 50px;
}